body {
    margin: 0px;
    margin-top: 0px;
    background-color: black;
}

/*HOME PART*/
.page1 {
    margin: 0px;
    height: 750px;
    color: white;
    background-image: url("IMAGES/bg.jpg");
    background-size: 100%;
}

nav {
    display: flex;
    margin-top: 1%;
    margin-left: -120px;
    justify-content: center;
    justify-content: space-around;
}

.head {
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 150px;
    font-size: 41px;
    color: rgb(66, 233, 74);
    display: block;
}

.head span {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

.options {
    font-size: 20px;
    color: white;
    width: 50%;
    margin-left: 100px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.options :hover {
    font-size: 30px;
    border-bottom: 5px solid rgb(66, 233, 74);

}

button {
    width: 100px;
    height: 30px;
    font-size: 12px;
    color: white;
    background-color: rgb(66, 233, 74);
    margin-top: 3%;
    margin-right: 20px;
}

button:hover {
    width: 110px;
}

.container {
    width: 1000px;
    margin: 8%;
    margin-top: 10%;
    font-size: 50px;
}

h1 {
    color: rgb(66, 233, 74);
}

p1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5%;
    font-size: 20px;
}

.button {
    border: 0px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
    width: 200px;
    height: 80px;
    margin-bottom: 10%;
}

/* OFFER SECTION*/

.off {

    width: 600px;
    height: 360px;
    color: rgb(66, 233, 74);

}

.offer {
    color: white;
    margin-top: 10%;
    font-size: 50px;
    text-align: right;

}

.textoff2 {
    width: 1230px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

p2 {
    font-size: 35px;
    color: yellow;
}

p3 {
    text-align: center;
    font-size: 35px;
    color: yellow;
}

p4 {
    text-align: center;
    font-size: 30px;
    color: yellow;
}

#fontcol {
    color: white;
}

.tagali {
    background-color: rgb(66, 233, 74);
    width: 210px;
    height: 60px;
    margin-left: 580px;
    margin-bottom: 10%;
    color: white;
    margin-top: 20%;
    text-align: right;
    font-size: 50px;
    display: flex;
    flex-direction: row;
}

.offer {
    margin-top: -1%;
    margin-left: 10%;
}

.bkimg {
    margin-left: 0px;
    display: flex;
    margin-top: -1%;
}

/*PLACE SECTION*/

.place {

    margin-top: 30%;
    width: 600px;
    height: 100% color;
}

.placetext {
    color: white;
    width: 1370px;
    text-align: center;
}

.textpl {
    font-size: 50px;
    background-color: rgb(66, 233, 74);
    width: 210px;
    height: 60px;
    margin-left: 580px;
    margin-bottom: 3%;

}

.plintro {
    font-size: 30px;

}

/*pics*/

.picsection {
    margin-top: 10%;
    display: flex;

}

.pic1 {
    margin-left: 20px;
}

.pic2 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

/* SUB PICS*/
.subp2 {
    margin-top: 10px;
}

.subp4 {
    margin-top: 10px;
}

.subp5 {
    margin-left: 10px;
}

.subp6 {
    margin-left: 10px;
    margin-top: 10px;
}

/*CONTACT*/
h2{
    color: white;
}

.contact-container {
    width: 500px;
    height: 180px;
    margin: 0px;
    text-decoration: underline;
    background-color: rgb(66, 233, 74);
    text-align: left;
}

.socialicons {

    margin-top: -20px;
    width: 300px;
    height: 70px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
}

.socialicons a {
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-width: 20px;
    border-radius: 50%;
    background-color: black;
    text-decoration: none;

}

.s1 {
    margin-top: 3px;
}

.s2 {
    margin-left: 5px;
    margin-top: 1px;
}

.s3 {
    margin-top: 3px;
}

.s4 {
    margin-top: 1px;
}

/* hover effect on contact*/
.socialicons a:hover {
    background-color: rgb(66, 233, 74);
    transition: 0.1s;
}

p5 {
    font-size: 30px;
    margin-left: 100px;
    margin-bottom: 100px;
    color: white;
}

p6 {
    font-size: 20px;
    margin-left: 130px;
    color: white;
}